* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
	font-family: "Cinzel", serif;
}

body {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(#350046, #31002f, #28021d, #1b010e, #000000) fixed;
  justify-content: center;
}
